body, html {
  font-family:Rockwell;
  text-decoration:none;
  overflow:hidden;
  
}


html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


div.pagewidth {
  display:block;
  height:140vh;
  overflow:hidden;
}

div.halfpagewidth {
  display:block;
  height:50px;
}


a, a:hover, a:active, a:focus {
  color:white;  
  outline:0;
  text-decoration:none;
}

.menu {
	position:fixed;
	background-color:white;
	height:100px;
	margin-bottom:50px;
	width:100%;
	z-index:10;
	
}

.name {
  position:relative;
  font-size:40px;
  width: auto;  
  height: auto;
  color: white;
  left:20%;

}

.quest {
  position:relative;
  font-size:30px;
  font-size:20px;
  right:20%;
}


.colored {
  color: white;
  font-weight:normal;

}



.padding-0 {
  padding:0 0;
}
	
	

.copyright {
  position:fixed;
  bottom:0%;
  height:auto;
  width:100%;
  background:black;
  line-height:50px;
}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}



.button {
	vertical-align:middle;
  background: black;
  border-radius:20px;
  font-size:5vh;
}

.button:hover{
 background:green;
 color:black;

}	
